<nav class="navbar navbar-expand-sm bg-light">
  <h2>My CRM</h2>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <span [ngClass]="{'active' : currentPage==='list-user'}" class="nav-link" (click)="goTo('list-user')">Home</span>
    </li>
    <li class="nav-item">
      <span [ngClass]="{'active' : currentPage==='list-insurance'}" class="nav-link" (click)="goTo('list-insurance')">List Insurance</span>
    </li>
    <li class="nav-item">
      <span [ngClass]="{'active' : currentPage==='calendar'}" class="nav-link" (click)="goTo('calendar')">Calendar</span>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <span class="nav-link" (click)="logout()">Logout</span>
    </li>
  </ul>


</nav>
