.nav-link, .nav-item{
  cursor: pointer;
  color:#012780;
}

.nav-link{
  &:hover{
    opacity: 0.7;
  }
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

.active{
  font-weight: bolder;
}

.blue{
  color:#012780;
}

.is-smartphone{
  margin-left:unset  !important;
}
