<div class="col-md-6 user-container">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" type="hidden" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="firstName">Name:</label>
      <input formControlName="name" placeholder="name" name="Name" class="form-control" id="Name">
    </div>

    <div class="form-group">
      <label for="lastName">Surname:</label>
      <input formControlName="surname" placeholder="surname" name="surname" class="form-control" id="surname">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="link">Link:</label>
      <input type="text" formControlName="link" placeholder="link" name="link" class="form-control" id="link">
    </div>

    <div class="form-group">
      <label for="userId">User:</label>
      <select type="submit" formControlName="userId" [(ngModel)]="selectedUser" (change)="onSelectedChange($event)">
        <option [ngValue]="user" *ngFor="let user of users">{{ user.surname }}</option>
      </select>
    </div>  

    <button class="btn btn-success">Update</button>
  </form>

<br>
<button class="btn btn-info" (click)="goHome()">Home</button>
</div>
