<div class="col-md-6 user-container">
  <h2 style="margin: auto">Anagrafica</h2>

  <div class="d-flex flex-row">
    <div class="p-2"><button class="btn btn-warning" (click)="addUser()">Aggiungi cliente</button></div>
    <div class="p-2"><button *ngIf="back" class="btn btn-info" (click)="goBack()">Indietro</button></div>
    <div class="p-2"></div>
  </div>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Note</th>
        <th>Assegnato a</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr class="item" *ngFor="let user of users" >
          <td class="hidden">{{user.id}}</td>
          <td (click)="userDetail(user.id)">{{user.nome}}</td>
          <td (click)="userDetail(user.id)">{{user.cognome}}</td>
          <td class="link" [tagDirective]="user.note"></td>
          <td (click)="userDetail(user.id)">{{user.collaboratore}}</td>
          <td class="buttons">
            <button class="btn btn-success" (click)="editUser(user)">Modifica</button>
          </td>
          <td class="buttons">
            <button class="btn btn-danger" (click)="deleteUser(user)">Cancella</button>
          </td>
        </tr>
        </tbody>
  </table>
</div>
