.user-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.buttons{
  text-align:center;
}

.item{
    cursor: pointer;
}

.link{
  cursor:pointer;
  color:blue;
}

th, .dataTables_info{
  color:#012780 !important
}

td{
  color:#0081cc;
}

.dataTable{
  width:100% !important;
}

.loader{
  font-size: 20px; color: white
}

.hidden{
  visibility: hidden;
}
