<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="absolute-center is-responsive"  [ngClass]="{'is-smartphone' : isSmartphone}">
        <div class="col-sm-12 col-md-10 col-md-offset-1 full-width">
          <div class="header-ctn">
            <img class="logo" src="../../assets/img/logo.png">
            <span class="card-title">Assicurazioni Silli</span>
            <fa-icon class="icon-login" [icon]="faSignInAlt"></fa-icon>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
            <div class="form-label-group">
              <input type="text" id="username" class="form-control" formControlName="username" id="username"
                placeholder="Username" required autofocus>
              <label for="username">Username</label>
              <div class="error-msg"
                *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
                Username is required</div>
            </div>
            <div class="form-label-group">
              <input type="password" id="password" class="form-control" formControlName="password" id="password"
                placeholder="Password" required autofocus>
              <label for="password">Password</label>
              <div class="error-msg"
                *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                Password is required</div>
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Ricorda password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
            <hr class="my-4">
          </form>
          <div *ngIf="invalidLogin" class="error-msg">
            <div>Username e Password errati</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>