.file{
    color:blue;
    cursor: pointer;
    margin-right: 10px;
}

.delete, thead, .item-file{
    cursor: pointer;
}

.item-file{
    color:blue;
}

.user-container{
    margin-bottom:30px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}

.file-list{
    margin-bottom:10px;
}

.upload-group{
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 5px;
}

.small{
    width:auto;
}

.title-upload{
    text-align: center;
    display:block;
    padding-bottom:10px;
}

.table{
    margin-bottom:30px;
    margin-top:30px;
}

.block-title{
    padding-top:10px;
}

.form-row{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.choose-doc{
    padding-top:20px;
    padding-bottom: 20px;
}