.file{
    color:blue;
    cursor: pointer;
    margin-right: 10px;
}

.delete, thead, .item-file{
    cursor: pointer;
}

.item-file{
    color:blue;
}

.user-container{
    margin-bottom:60px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}

.file-list{
    margin-bottom:10px;
}

.upload-group, .note-group{
    background-color: #d3d3d3;
    padding: 15px;
    border-radius: 13px;
    border: 2px solid #5555;
}

.small{
    width:auto;
}

.title-upload,.title-note{
    text-align: center;
    display:block;
    padding-bottom:10px;
}

.table{
    margin-bottom:30px;
    margin-top:30px;
}

.block-title{
    padding-top:10px;
    display: block;
}

.form-row{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.choose-doc{
    padding-top:20px;
    padding-bottom: 20px;
}

.toggle-block{
    cursor: pointer;
}

.input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    min-height: 38px;
}

.add-note{
    padding-top:10px;
    padding-bottom: 10px;
}

.edit-user-container{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    background: grey;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.note{
    &.table{
        border: 1px solid #DEE2e6;
    }
}