<div class="col-md-6 user-container">
  <h2 class="text-center">Cliente</h2>
  <form novalidate="" class="ng-pristine ng-valid ng-touched">
    <div class="hidden">
      <input type="hidden" formcontrolname="id" placeholder="id" name="id" id="id" readonly
        class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="id" value="1">
    </div>

    <label class="block-title">Nome: <fa-icon (click)="toggleBlock('name')" class="toggle-block" [icon]="blockName ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockName">
      <div class="form-group col-md-6">
        <label for="nome">Nome:</label>
        <input placeholder="{{user.nome}}" readonly name="nome" id="nome"
        class="form-control ng-pristine ng-valid ng-touched">
      </div>
      <div class="form-group col-md-6">
        <label for="cognome">Cognome/Rag.Soc.:</label>
        <input formcontrolname="cognome" placeholder="{{user.cognome}}" readonly name="cognome" id="cognome"
        class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </div>

    <label class="block-title">Informazioni di residenza: <fa-icon (click)="toggleBlock('city')" class="toggle-block" [icon]="blockCity ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockCity">
      <div class="form-group col-md-4">
        <label for="citta">Comune</label>
        <input formcontrolname="indirizzoResidenza" placeholder="{{user.comune}}" readonly
        name="indirizzoResidenza" id="indirizzoResidenza" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-1">
        <label for="provincia">Prov.</label>
        <input formcontrolname="provincia" placeholder="{{user.provincia}}" readonly
        name="provincia" id="provincia" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-1">
        <label for="CAP">CAP</label>
        <input formcontrolname="CAP" placeholder="{{user.CAP}}" readonly
        name="CAP" id="CAP" class="form-control ng-untouched ng-pristine ng-valid">
      </div>            
      <div class="form-group col-md-5">
        <label for="indirizzoResidenza">Via:</label>
        <input formcontrolname="indirizzoResidenza" placeholder="{{user.indirizzoResidenza}}" readonly
        name="indirizzoResidenza" id="indirizzoResidenza" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-1">
        <label for="civico">Numero:</label>
        <input formcontrolname="civico" placeholder="{{user.civico}}" readonly
        name="civico" id="civico" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </div>

    <label class="block-title">Informazioni anagrafiche:<fa-icon (click)="toggleBlock('anagrafica')" class="toggle-block" [icon]="blockAnagrafica ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockAnagrafica">
      <div class="form-group col-md-6">
        <label for="dataNascita">Data di nascita:</label>
        <input formcontrolname="dataNascita" placeholder="{{user.dataNascita | date:'dd/MM/yy'}}" readonly
        name="dataNascita" id="dataNascita" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input formcontrolname="codiceFiscale" placeholder="{{user.codiceFiscale}}" readonly name="codiceFiscale"
        id="codiceFiscale" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="cartaIdentita">Carta di Identità:</label>
        <input formcontrolname="cartaIdentita" placeholder="{{user.cartaIdentita}}" readonly name="cartaIdentita"
        id="cartaIdentita" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="dataScadenzaCartaIdentita">Data Scadenza Carta Identità:</label>
        <input formcontrolname="dataScadenzaCartaIdentita"
        placeholder="{{user.dataScadenzaCartaIdentita | date:'dd/MM/yy'}}" readonly name="dataScadenzaCartaIdentita"
        id="dataScadenzaCartaIdentita" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </div>

    <label class="block-title">Informazioni aziendali: <fa-icon (click)="toggleBlock('company')" class="toggle-block" [icon]="blockCompany ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockCompany">
      <div class="form-group col-md-6">
        <label for="partitaIva">P.IVA:</label>
        <input formcontrolname="partitaIva" placeholder="{{user.partitaIva}}" readonly name="partitaIva" id="partitaIva"
        class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="sdi">SDI:</label>
        <input formcontrolname="sdi" placeholder="{{user.sdi}}" readonly name="sdi" id="sdi"
        class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-12">
        <label for="iban">IBAN:</label>
        <input formcontrolname="iban" placeholder="{{user.iban}}" readonly name="iban" id="iban"
        class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </div>
    <label class="block-title">Contatti: <fa-icon (click)="toggleBlock('contact')" class="toggle-block" [icon]="blockContact ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockContact">
      <div class="form-group col-md-6">
        <label for="telCasa">Tel Casa:</label>
          <div class="input">
            <a href="{{'tel:' + user.telCasa}}">{{user.telCasa}}</a>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label for="telUfficio">Tel Ufficio:</label>
        <div class="input">
          <a href="{{'tel:' + user.telUfficio}}">{{user.telCasa}}</a>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label for="email">Email:</label>
          <div class="input">
            <a href="{{'mailto:' + user.email}}">{{user.email}}</a>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label for="secondaEmail">Seconda Email:</label>
          <div class="input">
            <a href="{{'mailto:' + user.secondaEmail}}">{{user.secondaEmail}}</a>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label for="PEC">PEC:</label>
        <input formcontrolname="PEC" placeholder="{{user.PEC}}" readonly name="PEC" id="PEC"
        class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="cellulare">Cellulare:</label>
        <div class="input">
          <a href="{{'tel:' + user.cellulare}}">{{user.cellulare}}</a>
        </div>
      </div>
    </div>

    <label class="block-title">Altre informazioni: <fa-icon (click)="toggleBlock('other')" class="toggle-block" [icon]="blockOther ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockOther">
      <div class="form-group col-md-6">
        <label for="occupazione">Occupazione:</label>
        <input formcontrolname="occupazione" placeholder="{{user.occupazione}}" readonly name="occupazione"
        id="occupazione" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="hobby">Hobby:</label>
        <textarea rows="4" formcontrolname="hobby" placeholder="{{user.hobby}}" readonly name="hobby" id="hobby"
        class="form-control ng-untouched ng-pristine ng-valid"></textarea>
      </div>
      <div class="form-group col-md-12">
        <label for="note">Note:</label>
        <textarea rows="4" formcontrolname="note" placeholder="{{user.note}}" readonly name="note" id="note"
        class="form-control ng-untouched ng-pristine ng-valid"></textarea>
      </div>
    </div>

    <label class="block-title">Gestione interna: <fa-icon (click)="toggleBlock('internal')" class="toggle-block" [icon]="blockInternal ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockInternal">
      <div class="form-group col-md-6">
        <label for="collaboratore">Assegnato a:</label>
        <input formcontrolname="collaboratore" placeholder="{{user.collaboratore}}" readonly name="collaboratore"
        id="collaboratore" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
      <div class="form-group col-md-6">
        <label for="tipoContatto">Tipo Contatto:</label>
        <input formcontrolname="collaboratore" placeholder="{{user.tipoContatto}}" readonly name="tipoContatto"
        id="tipoContatto" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </div>

    <label class="block-title">Dati Aggiuntivi: <fa-icon (click)="toggleBlock('data')" class="toggle-block" [icon]="blockData ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockData">
      <div class="form-group col-md-6">
        <label for="datiAggiuntivi">Dati Aggiuntivi:</label>
        <textarea rows="4" formcontrolname="datiAggiuntivi" placeholder="{{user.datiAggiuntivi}}" readonly name="datiAggiuntivi" id="datiAggiuntivi"
        class="form-control ng-untouched ng-pristine ng-valid"></textarea>
      </div>
      <div class="form-group col-md-12">
        <label for="datiRaw">Dati Raw:</label>
        <textarea rows="4" formcontrolname="datiRaw" placeholder="{{user.datiRaw}}" readonly name="datiRaw" id="datiRaw"
        class="form-control ng-untouched ng-pristine ng-valid"></textarea>
      </div>
    </div>
   
  </form>

  <span class="file-list">
    <span class="file-list-title" *ngIf="fileList.length">Documenti:</span>

    <table *ngIf="fileList.length" class="row-border hover table">
      <thead>
        <tr>
          <th (click)="orderBy('tipoDoc')">Tipo</th>
          <th (click)="orderBy('data')">Scadenza</th>
          <th (click)="orderBy('fileName')">Nome File</th>
          <th (click)="orderBy('sottotipoDoc')">Compagnia</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="item" *ngFor="let file of fileList">
          <td>{{file.tipoDoc}}</td>
          <td>{{file.data | date:'dd/MM/yy'}}</td>
          <td><span class="item-file" (click)="getFile(file.fileName)">{{file.fileName}}</span></td>
          <td>{{file.sottotipoDoc}}</td>
          <td class="buttons">
            <button class="btn btn-danger" (click)="deleteFile(file)">Cancella</button>
          </td>
        </tr>
      </tbody>
    </table>
  </span>

  <div class="choose-doc">
    Scegli tipo documento da caricare:
    <select class="custom-select small" (change)="onSelectChange(tipoDoc)" [(ngModel)]="tipoDoc">
      <option *ngFor="let doc of tipoDocs" [ngValue]="doc">{{doc}}</option>
    </select>
  </div>

  <div class="upload-group">
    <span class="title-upload"><b>Upload {{tipoDoc}}</b></span>
    <div class="sottotipodoc-section" *ngIf="tipoDoc==='polizza' || tipoDoc==='preventivo' || tipoDoc==='documento' || tipoDoc==='SIC'">
      <label for="sottotipodoc">{{(tipoDoc==='polizza' || tipoDoc==='SIC') ? 'Compagnia':'Tipo'}} : </label>
      <select class="custom-select small" [(ngModel)]="sottotipoDoc">
        <option *ngFor="let sottotipo of sottotipoDocs" [ngValue]="sottotipo">{{sottotipo}}</option>
      </select>
    </div>
    <span *ngIf="tipoDoc!=='libretto di circolazione'">
      Data di scadenza:
      <div class="form-group">
        <input class="form-control w-25 small" placeholder="Scegli Data" [ngxDatePicker]="dateInstanceSingle"
          [value]="singleDate" (valueChange)="onChangeSingle($event)">
        <ngx-date-picker #dateInstanceSingle [options]="singleDatePickerOptions"></ngx-date-picker>
      </div>
    </span>
    <span *ngIf="tipoDoc=='polizza'">
      <div class="form-group">
        Frazionamento semestrale: <input type="checkbox" [(ngModel)]="frazionamentoSemestrale">
      </div>
    </span>
    <span *ngIf="tipoDoc=='SIC' || tipoDoc=='libretto di circolazione'">
      <div class="form-group col-md-2">
        <label for="targa">Targa:</label>
        <input placeholder="targa" name="targa" [(ngModel)]="targa"
        id="targa" class="form-control ng-untouched ng-pristine ng-valid">
      </div>
    </span>
    <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">
    <button style="margin-top:20px" (click)="uploadFile()" mat-raised-button color="primary">
      Upload
    </button> (Max 50Mb)
    <div *ngIf="uploading" class="uploading">
      Upload in corso...
    </div>
  </div>
  <br>
  <span class="note-list">
    <span class="note-list-title" *ngIf="noteList.length">Note:</span>
    <table *ngIf="noteList.length" class="row-border hover note table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Titolo</th>
          <th>Testo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="item" *ngFor="let note of noteList">
          <td>{{note.data | date:'dd/MM/yy'}}</td>
          <td>{{note.titolo }}</td>
          <td>{{note.testo }}</td>
          <td class="buttons">
            <button class="btn btn-danger" (click)="deleteNote(note)">Cancella</button>
          </td>
        </tr>
      </tbody>
    </table>
  </span>
  <br>
  <span class="add-note">Inserisci Note</span>
  <div class="note-group">
    <span class="title-note"><b>Inserisci Nota</b></span>
    <div class="form-group col-md-6">
      <label for="titolo">Titolo:</label>
      <input placeholder="titolo" name="titolo" [(ngModel)]="noteTitle"
      id="titolo" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group col-md-12">
      <label for="testo">Testo:</label>
      <textarea rows="4" [(ngModel)]="noteText" placeholder="testo" name="testo" id="testo"
      class="form-control ng-untouched ng-pristine ng-valid"></textarea>
    </div>
    <button style="margin-top:20px" (click)="addNote()" mat-raised-button color="primary">
      Inserisci
    </button> 
  </div>

  <footer class="footer">
    <div class="edit-user-container">
      <span (click)="editUser()">Modifica Utente </span><fa-icon [icon]="faEdit"></fa-icon>
    </div>
  </footer>
</div>