<div class="col-md-6 user-container">
  <h2 class="text-center">Cliente</h2>
  <form novalidate="" class="ng-pristine ng-valid ng-touched">
    <div class="hidden">
      <input type="hidden" formcontrolname="id" placeholder="id" name="id" id="id" readonly
        class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="id" value="1">
    </div>
    <div class="form-group"><label for="nome">Nome:</label>
      <input placeholder="{{user.nome}}" readonly name="nome" id="nome"
        class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="form-group"><label for="cognome">Cognome:</label>
      <input formcontrolname="cognome" placeholder="{{user.cognome}}" readonly name="cognome" id="cognome"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="azienda">Azienda:</label>
      <input formcontrolname="azienda" placeholder="{{user.azienda}}" readonly name="azienda" id="azienda"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="collaboratore">Assegnato a:</label>
      <input formcontrolname="collaboratore" placeholder="{{user.collaboratore}}" readonly name="collaboratore"
        id="collaboratore" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="tipoContatto">Tipo Contatto:</label>
      <input formcontrolname="collaboratore" placeholder="{{user.tipoContatto}}" readonly name="tipoContatto"
        id="tipoContatto" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="telCasa">Tel Casa:</label>
      <input formcontrolname="telCasa" placeholder="{{user.telCasa}}" readonly name="telCasa" id="telCasa"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="telUfficio">Tel Ufficio:</label>
      <input formcontrolname="telUfficio" placeholder="{{user.telUfficio}}" readonly name="telUfficio" id="telUfficio"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="email">Email:</label>
      <input formcontrolname="email" placeholder="{{user.email}}" readonly name="email" id="email"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="secondaEmail">Seconda Email:</label>
      <input formcontrolname="secondaEmail" placeholder="{{user.secondaEmail}}" readonly name="secondaEmail"
        id="secondaEmail" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="PEC">PEC:</label>
      <input formcontrolname="PEC" placeholder="{{user.PEC}}" readonly name="PEC" id="PEC"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="indirizzoResidenza">Indirizzo di residenza:</label>
      <input formcontrolname="indirizzoResidenza" placeholder="{{user.indirizzoResidenza}}" readonly
        name="indirizzoResidenza" id="indirizzoResidenza" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="occupazione">Occupazione:</label>
      <input formcontrolname="occupazione" placeholder="{{user.occupazione}}" readonly name="occupazione"
        id="occupazione" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="dataNascita">Data di nascita:</label>
      <input formcontrolname="dataNascita" placeholder="{{user.dataNascita | date:'dd/MM/yy'}}" readonly
        name="dataNascita" id="dataNascita" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="codiceFiscale">Codice Fiscale:</label>
      <input formcontrolname="codiceFiscale" placeholder="{{user.codiceFiscale}}" readonly name="codiceFiscale"
        id="codiceFiscale" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="cartaIdentita">Carta di Identità:</label>
      <input formcontrolname="cartaIdentita" placeholder="{{user.cartaIdentita}}" readonly name="cartaIdentita"
        id="cartaIdentita" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="dataScadenzaCartaIdentita">Data Scadenza Carta Identità:</label>
      <input formcontrolname="dataScadenzaCartaIdentita"
        placeholder="{{user.dataScadenzaCartaIdentita | date:'dd/MM/yy'}}" readonly name="dataScadenzaCartaIdentita"
        id="dataScadenzaCartaIdentita" class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="partitaIva">P.IVA:</label>
      <input formcontrolname="partitaIva" placeholder="{{user.partitaIva}}" readonly name="partitaIva" id="partitaIva"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="sdi">SDI:</label>
      <input formcontrolname="sdi" placeholder="{{user.sdi}}" readonly name="sdi" id="sdi"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="iban">IBAN:</label>
      <input formcontrolname="iban" placeholder="{{user.iban}}" readonly name="iban" id="iban"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="hobby">Hobby:</label>
      <input formcontrolname="hobby" placeholder="{{user.hobby}}" readonly name="hobby" id="hobby"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="note">Note:</label>
      <input formcontrolname="note" placeholder="{{user.note}}" readonly name="note" id="note"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
  </form>

  <span class="file-list">
    <span class="file-list-title" *ngIf="fileList.length">Documenti:</span>

    <table *ngIf="fileList.length" class="row-border hover table">
      <thead>
        <tr>
          <th (click)="orderBy('tipoDoc')">Tipo</th>
          <th (click)="orderBy('data')">Scadenza</th>
          <th (click)="orderBy('fileName')">Nome File</th>
          <th (click)="orderBy('sottotipoDoc')">Tipo Doc</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="item" *ngFor="let file of fileList">
          <td>{{file.tipoDoc}}</td>
          <td>{{file.data | date:'dd/MM/yy'}}</td>
          <td><span class="item-file" (click)="getFile(file.fileName)">{{file.fileName}}</span></td>
          <td>{{file.sottotipoDoc}}</td>
          <td class="buttons">
            <button class="btn btn-danger" (click)="deleteFile(file)">Cancella</button>
          </td>
        </tr>
      </tbody>
    </table>
  </span>

  <div class="choose-doc">
    Scegli tipo documento da caricare:
    <select class="custom-select small" (change)="onSelectChange(tipoDoc)" [(ngModel)]="tipoDoc">
      <option *ngFor="let doc of tipoDocs" [ngValue]="doc">{{doc}}</option>
    </select>
  </div>

  <div class="upload-group">
    <span class="title-upload"><b>Upload {{tipoDoc}}</b></span>
    <div class="sottotipodoc-section" *ngIf="tipoDoc==='polizza' || tipoDoc==='preventivo' || tipoDoc==='documento'">
      <label for="sottotipodoc">{{tipoDoc==='polizza'? 'Compagnia':'Tipo'}} : </label>
      <select class="custom-select small" [(ngModel)]="sottotipoDoc">
        <option *ngFor="let sottotipo of sottotipoDocs" [ngValue]="sottotipo">{{sottotipo}}</option>
      </select>
    </div>


    <br> Data:
    <div class="form-group">
      <input class="form-control w-25 small" placeholder="Scegli Data" [ngxDatePicker]="dateInstanceSingle"
        [value]="singleDate" (valueChange)="onChangeSingle($event)">
      <ngx-date-picker #dateInstanceSingle [options]="singleDatePickerOptions"></ngx-date-picker>
    </div>

    <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">

    <button style="margin-top:20px" (click)="uploadFile()" mat-raised-button color="primary">
      Upload
    </button> (Max 50Mb)
    <div *ngIf="uploading" class="uploading">
      Upload in corso...
    </div>

  </div>

</div>