<div class="col-md-6 user-container">
  <h2 class="text-center">User</h2>
  <form novalidate="" class="ng-pristine ng-valid ng-touched">
    <div class="hidden">
      <input type="hidden" formcontrolname="id" placeholder="id" name="id" id="id" readonly
        class="form-control ng-untouched ng-pristine ng-valid" ng-reflect-name="id" value="1">
    </div>
    <div class="form-group"><label for="firstName">Name:</label>
      <input placeholder="{{user.name}}" readonly name="Name" id="Name"
        class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="form-group"><label for="lastName">Surname:</label>
      <input formcontrolname="surname" placeholder="{{user.surname}}" readonly name="surname" id="surname"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
    <div class="form-group"><label for="age">Age:</label>
      <input type="number" formcontrolname="age" placeholder="{{user.age}}" readonly name="age" id="age"
        class="form-control ng-untouched ng-pristine ng-valid">
    </div>
  </form>

  <span>
    File list: <br>
    <span *ngFor="let file of fileList">
      <a class="file" (click)="getFile(file.fileName)">{{file.type}}</a> 
    </span>
  </span> <br><br>

  Type:
  <select type="submit" [ngModel]="type" (ngModelChange)="onSelectedChange($event)">
    <option *ngFor="let option of options">{{ option }}</option>
  </select>

  <br> Date:
  <div class="form-group">
    <input class="form-control w-25" placeholder="Select Date" 
        [ngxDatePicker]="dateInstanceSingle" 
        [value]="singleDate"
        (valueChange)="onChangeSingle($event)">
    <ngx-date-picker #dateInstanceSingle [options]="singleDatePickerOptions"></ngx-date-picker>
  </div>

  <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">

  <button style="margin-top:20px" (click)="uploadFile()" mat-raised-button color="primary">
    Upload
  </button>

</div>