<div class="col-md-6 insurance-container">
  <h2 class="text-center">Add Insurance</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="type">Type: *</label>
      <input type="text" formControlName="type" placeholder="type" name="type" class="form-control" id="type">
    </div>
    <div class="form-group">
      <label for="Description">Description: *</label>
      <input type="text" formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
    </div>
    <button class="btn btn-success">Add</button>
  </form>
<br>
<button class="btn btn-info" (click)="goHome()">Home</button>

</div>

