<div class="col-md-6 user-container">
  <h2 class="text-center">Aggiungi cliente</h2>

  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <label class="block-title">Nome: <fa-icon (click)="toggleBlock('name')" class="toggle-block"
        [icon]="blockName ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockName">
      <div class="form-group col-md-6">
        <label for="nome">Nome: *</label>
        <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
      </div>
      <div class="form-group col-md-6">
        <label for="cognome">Cognome/Rag.Soc.: *</label>
        <input type="text" formControlName="cognome" placeholder="cognome" name="cognome" class="form-control"
          id="cognome">
      </div>
    </div>

    <label class="block-title">Informazioni di residenza: <fa-icon (click)="toggleBlock('city')" class="toggle-block"
        [icon]="blockCity ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockCity">
      <div class="form-group col-md-1">
        <label for="provincia">Prov.:</label>
        <select class="custom-select" (change)="selectProvincia()" formControlName="provincia"
          [(ngModel)]="selectedProvincia">
          <option *ngFor="let provincia of province" [ngValue]="provincia">{{provincia}}</option>
        </select>
      </div>
      <div class="form-group col-md-4" *ngIf="selectedProvincia">
        <label for="comune">Comune:</label>
        <select class="custom-select" (change)="selectComune()" formControlName="comune" [(ngModel)]="selectedComune">
          <option *ngFor="let comune of comuni" [ngValue]="comune">{{comune}}</option>
        </select>
      </div>
      <div class="form-group col-md-2" *ngIf="selectedComune">
        <label for="CAP">CAP:</label>
        <input type="text" formControlName="CAP" placeholder="CAP" name="CAP" [(ngModel)]="selectedCAP"
          class="form-control" id="CAP">
      </div>
      <div class="address-block">
        <div class="form-group col-md-5">
          <label for="indirizzoResidenza">Via:</label>
          <input type="text" formControlName="indirizzoResidenza" placeholder="indirizzoResidenza"
            name="indirizzoResidenza" class="form-control" id="indirizzoResidenza">
        </div>
        <div class="form-group col-md-3">
          <label for="civico">numero:</label>
          <input type="text" formControlName="civico" placeholder="civico" name="civico" class="form-control"
            id="civico">
        </div>
      </div>
    </div>

    <label class="block-title">Informazioni generali:<fa-icon (click)="toggleBlock('anagrafica')"
        class="toggle-block" [icon]="blockAnagrafica ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockAnagrafica">
      <div class="form-group col-md-6">
        <label for="dataNascita">Data Nascita:</label>
        <input type="text" formControlName="dataNascita" placeholder="dataNascita" name="dataNascita"
          class="form-control" id="dataNascita" [ngxDatePicker]="dataNascitaInstance" [value]="dataNascita"
          (valueChange)="onChangeDataNascita($event)">
        <ngx-date-picker #dataNascitaInstance [options]="singleDatePickerOptions"></ngx-date-picker>
      </div>
      <div class="form-group col-md-6">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input type="text" formControlName="codiceFiscale" placeholder="codiceFiscale" name="codiceFiscale"
          class="form-control" id="codiceFiscale">
      </div>
      <div class="form-group col-md-6">
        <label for="cartaIdentita">Carta di Identità:</label>
        <input type="text" formControlName="cartaIdentita" placeholder="cartaIdentita" name="cartaIdentita"
          class="form-control" id="cartaIdentita">
      </div>
      <div class="form-group col-md-6">
        <label for="dataScadenzaCartaIdentita">Data Scadenza Carta D'Itentità:</label>
        <input type="text" formControlName="dataScadenzaCartaIdentita" placeholder="dataScadenzaCartaIdentita"
          name="dataScadenzaCartaIdentita" class="form-control" id="dataScadenzaCartaIdentita"
          [ngxDatePicker]="dataScadenzaCartaInstance" [value]="dataScadenzaCartaIdentita"
          (valueChange)="onChangeDataScadenzaIdentita($event)">
        <ngx-date-picker #dataScadenzaCartaInstance [options]="singleDatePickerOptions"></ngx-date-picker>
      </div>
      <div class="form-group col-md-6">
        <label for="partitaIva">Partita Iva:</label>
        <input type="text" formControlName="partitaIva" placeholder="partitaIva" name="partitaIva" class="form-control"
          id="partitaIva">
      </div>
      <div class="form-group col-md-6">
        <label for="sdi">SDI:</label>
        <input type="text" formControlName="sdi" placeholder="sdi" name="sdi" class="form-control" id="sdi">
      </div>
      <div class="form-group col-md-12">
        <label for="iban">IBAN:</label>
        <input type="text" formControlName="iban" placeholder="iban" name="iban" class="form-control" id="iban">
      </div>
    </div>

    <label class="block-title">Contatti: <fa-icon (click)="toggleBlock('contact')" class="toggle-block"
        [icon]="blockContact ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockContact">
      <div class="form-group col-md-6">
        <label for="cellulare">Cellulare:</label>
        <input type="text" formControlName="cellulare" placeholder="cellulare" name="cellulare" class="form-control"
          id="cellulare">
      </div>
      <div class="form-group col-md-6">
        <label for="telCasa">Telefono 1:</label>
        <input type="text" formControlName="telCasa" placeholder="telCasa" name="telCasa" class="form-control"
          id="telCasa">
      </div>
      <div class="form-group col-md-6">
        <label for="telUfficio">Telefono 2:</label>
        <input type="text" formControlName="telUfficio" placeholder="telUfficio" name="telUfficio" class="form-control"
          id="telUfficio">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email:</label>
        <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
      </div>
      <div class="form-group col-md-6">
        <label for="secondaEmail">Email 2:</label>
        <input type="text" formControlName="secondaEmail" placeholder="secondaEmail" name="secondaEmail"
          class="form-control" id="secondaEmail">
      </div>
      <div class="form-group col-md-12">
        <label for="PEC">PEC:</label>
        <input type="text" formControlName="PEC" placeholder="PEC" name="PEC" class="form-control" id="PEC">
      </div>
      <div class="form-group col-md-6">
        <label for="fax">Fax:</label>
        <input type="text" formControlName="fax" placeholder="fax" name="fax" class="form-control" id="fax">
      </div>
    </div>

    <label class="block-title">Altre informazioni: <fa-icon (click)="toggleBlock('other')" class="toggle-block"
        [icon]="blockOther ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockOther">
      <div class="form-group col-md-6">
        <label for="occupazione">Occupazione:</label>
        <input type="text" formControlName="occupazione" placeholder="occupazione" name="occupazione"
          class="form-control" id="occupazione">
      </div>
      <div class="form-group col-md-6">
        <label for="hobby">Hobby:</label>
        <textarea rows="4" class="form-control" formControlName="hobby" placeholder="hobby" name="hobby"
          id="hobby"></textarea>
      </div>
      <div class="form-group col-md-12">
        <label for="note">Collegamenti:</label>
        <textarea rows="4" class="form-control" formControlName="note" placeholder="note" name="note"
          id="note"></textarea>
      </div>
    </div>

    <label class="block-title">Gestione interna: <fa-icon (click)="toggleBlock('internal')" class="toggle-block"
        [icon]="blockInternal ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockInternal">
      <div class="form-group col-md-6">
        <label for="collaboratore">Assegnato a:</label>
        <select class="custom-select" (change)="selectTag()" formControlName="collaboratore" [(ngModel)]="selectedTag">
          <option *ngFor="let tag of tags" [ngValue]="tag">{{tag}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="collaboratore1">Assegnato a:</label>
        <select class="custom-select" (change)="selectTag1()" formControlName="collaboratore1" [(ngModel)]="selectedTag1">
          <option *ngFor="let tag of tags" [ngValue]="tag">{{tag}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="tipoContatto">Tipo Contatto:</label>
        <select class="custom-select" (change)="selectTipoContatto()" formControlName="tipoContatto"
          [(ngModel)]="selectedTipoContatto">
          <option *ngFor="let tipoContatto of tipoContatti" [ngValue]="tipoContatto">{{tipoContatto}}</option>
        </select>
      </div>
    </div>

    <label class="block-title">Dati Aggiuntivi: <fa-icon (click)="toggleBlock('data')" class="toggle-block"
        [icon]="blockData ? faChevronDown : faChevronUp"></fa-icon></label>
    <div class="form-row" *ngIf="!blockData">
      <div class="form-group col-md-6">
        <label for="datiAggiuntivi">Dati Aggiuntivi:</label>
        <textarea rows="4" formControlName="datiAggiuntivi" placeholder="datiAggiuntivi" name="datiAggiuntivi"
          class="form-control" id="datiAggiuntivi"></textarea>
      </div>
    </div>

    <div class="footer">
      <button class="btn btn-success">Salva Cliente</button>
    </div>
  </form>
  <br>


</div>