<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" formControlName="surname" placeholder="surname" name="surname" class="form-control" id="surname">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
    </div>
    <button class="btn btn-success">Add</button>
  </form>
</div>
