<div class="col-md-6 insurance-container">
  <h2 style="margin: auto"> Dettaglio Assicurazione</h2>

  <div class="d-flex flex-row">
    <div class="p-2"><button class="btn btn-danger" (click)="addInsurance()">Aggiungi Assicurazione</button></div>
    <div class="p-2"><button *ngIf="back" class="btn btn-info" (click)="goBack()">Indietro</button></div>
    <div class="p-2"></div>
  </div>

  <table class="row-border hover">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Numero</th>
        <th>Ramo</th>
        <th>Compagnia</th>
        <th>Targa</th>
        <th>Scadenza Ann.</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr class="item" *ngFor="let insurance of insurances" >
          <td class="hidden">{{insurance.id}}</td>
          <td (click)="insuranceDetail(insurance.id)">{{insurance.numero}}</td>
          <td (click)="insuranceDetail(insurance.id)">{{insurance.ramo}}</td>
          <td (click)="insuranceDetail(insurance.id)">{{insurance.compagnia}}</td>
          <td (click)="insuranceDetail(insurance.id)">{{insurance.targa}}</td>
          <td (click)="insuranceDetail(insurance.id)">{{insurance.data | date:'dd/MM/yyyy'}}</td>
          <td class="buttons">
            <button class="btn btn-success" (click)="editInsurance(insurance)">Modifica</button>
          </td>
          <td class="buttons">
            <button class="btn btn-success" (click)="deleteInsurance(insurance)">Cancella</button>
          </td>
        </tr>
        </tbody>
  </table>
</div>
