.insurance-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.buttons{
  text-align:center;
}

.link{
  cursor:pointer;
  color:blue;
}

.hidden{
  display:none;
}

tr,td, th{
  border:1px solid #eaeaea;
  padding:5px;
}